[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
"plotly.express" = "*"
streamlit = "*"
matplotlib = "==3.3.3"
seaborn = "==0.11.0"
plotly-express = "*"

[dev-packages]

[requires]
python_version = "3.11"
